button {
	border: none;
	border-radius: 0;
}

.button {
	padding: 12px 24px;
	border-radius: 5px;
	font-size: 1rem;
	font-weight: bold;
	color: $color-background;
	background-color: $color-highlight;
	box-shadow: 0 57px 80px rgba(0, 0, 0, 0);
	transition: 0.25 ease-in all;

	&:hover {
		background-color: $color-highlight-accent;
		cursor: pointer;
	}
}

.button-disabled {
	box-shadow: none;
	background-color: $color-background-accent;
	color: $color-background;

	&:hover {
		background-color: $color-background-accent;
		cursor: not-allowed;
	}
}