*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	padding: calc(1vh + 1.5rem) calc(1vw + 1.5rem);
	font-family: $font-family;
	font-size: 16px;
}

html, body {
	height: 100%;
}

.base {
	display: grid;
	grid-template-rows: 1fr auto;
	gap: 1rem;
}

.main {
	display: grid;
	grid-template-rows: auto 1fr;
	gap: 0.75rem;
}

.header {
	display: flex;
	gap: 0.5rem;
}

.footer {
	display: flex;
	justify-content: flex-end;
}
