// Colors
$color-background: #fff;
$color-background-accent: lightgray;

$color-highlight: #41a79a;
$color-highlight-accent: #3FA294;

$color-highlight-secondary: #620504;

$color-font: #000;
$color-font-accent: #f2575e;

// Fonts
$font-family: "Open Sans", "Circular", sans-serif;

// Borders
$table-border: 1px solid $color-background-accent;
$table-cell-padding: 0.65rem 1rem;

// Animations
$transition: all 0.25s ease-in-out;