@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$color-blue: #32a2b9;
$color-green: #50a944;
$color-silver: #c0c0c0;
$color-gray: #696969;

$font-family: "Open Sans", sans-serif;