:root {
	--color-blue: #0892d0;
	--color-red: #b7410e;
	--color-green: #32cd32;
	--color-silver: #c0c0c0;
	--color-gray: #696969;
}

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	padding: calc(1vh + 1.5rem) calc(1vw + 1.5rem);
	font-size: 16px;
}

html, body {
	height: 100%;
}

table, th, td {
	border: 1px solid var(--color-gray);
	border-collapse: collapse;
}

table {
	min-width: 100%;
}

th, td {
	padding: 6.5px 13px;
}

th {
	text-align: left;
}

button {
	border: none;
	border-radius: 0;
}

.main {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.button {
	padding: 8px 16px;
	color: #fff;
	border-radius: 5px;
	font-weight: bold;
	box-shadow: 0 57px 80px rgba(0, 0, 0, 0);
}

.button-red {
	background-color: var(--color-red);
}

.button-green {
	background-color: var(--color-green);
}

.button-blue {
	background-color: var(--color-blue);
}

.button-disabled {
	box-shadow: none;
	background-color: var(--color-silver);
	color: var(--color-gray);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.table-container {
	place-self: center stretch;
}